apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - host: makemytrip.com
    http:
      paths:
      - path: /flights
        pathType: Prefix
        backend:
          service:
            name: service-flight
            port:
              number: 80
